<!-- views/includes/radioButtonGroup.ejs -->
<div class="form-group">
    <%- label %>
    <% var id3 = helpers.createRadioButtonId(label, "3") %>
    <% var id2 = helpers.createRadioButtonId(label, "2") %>
    <% var id1 = helpers.createRadioButtonId(label, "1") %>
    <% var id0 = helpers.createRadioButtonId(label, "0") %>
    <div class="form-check">
      <input class="btn-check" type="radio" name="<%- name %>" value="3" id="<%- id3 %>" <%- helpers.shouldBeChecked(data, 3) %>>
      <label class="btn btn-outline-secondary" for="<%- id3 %>">
        Compostable
      </label>
      <%- include('../includes/questionPopover', {title: "what is compostable?", content: "products made from plants & animals (organic matter), including paper napkins, bags, and other packaging made only from paper"}) %>
    </div>
    <div class="form-check">
        <input class="btn-check" type="radio" name="<%- name %>" value="2" id="<%- id2 %>" <%- helpers.shouldBeChecked(data, 2) %>>
        <label class="btn btn-outline-secondary" for="<%- id2 %>">
            Recyclable
        </label>
        <%- include('../includes/questionPopover', {title: "what is recyclable?", content:"clean, dry, & three-dimensional plastic, metal, and paper"}) %>
    </div>
    <div class="form-check">
        <input class="btn-check" type="radio" name="<%- name %>" value="1" id="<%- id1 %>" <%- helpers.shouldBeChecked(data, 1) %>>
        <label class="btn btn-outline-secondary" for="<%- id1 %>">
            Trash
        </label>
    </div>
    <div class="form-check">
        <input class="btn-check" type="radio" name="<%- name %>" value="0" id="<%- id0 %>" <%- helpers.shouldBeChecked(data, 0) %>>
        <label class="btn btn-outline-secondary" for="<%- id0 %>">
            N/A
        </label>
    </div>
  </div>