<!-- views/pages/index.ejs -->

<!DOCTYPE HTML>
<html lang="en">
<%- include('../includes/head') %>
<%- include('../includes/mapScript', {mapKey: mapKey, helpers: helpers}) %>
<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div class="main-container">
    <%- include('../includes/nav') %>
    <div class="container">
      <div class="center snap-point">
        <h1 class="title center"><%- title %></h1>
        <img src="<%- image %>" alt="app icon" id="app-header-image" class="img-fluid" />
      </div>
      <div class="snap-point map-View">
        <div class="input-group mb-3">
          <input type="text" class="form-control" id="search-field" placeholder="Search for restaurant"
            aria-label="Search for restaurant" aria-describedby="button-addon2">
          <button class="btn btn-outline-secondary" type="button" id="search-button">Search</button>
        </div>
        <%- include('../includes/imageKey') %>
        <div class="dashboard_mapContainer">
          <div id="ReviewsMap"></div>
        </div>
      </div>
    </div>
  </div>
  <%- include('../includes/scripts') %>
</body>

</html>