<!-- views/pages/index.ejs -->

<!DOCTYPE HTML>
<html lang="en">
<%- include('../includes/head') %>
<%- include('../includes/mapScript', {mapKey: mapKey, helpers: helpers}) %>
<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div class="main-container">
    <%- include('../includes/nav') %>
    <div class="container">
      <div class="center snap-point">
        <h1 class="title center"><%- title %></h1>
        <img src="<%- image %>" alt="app icon" id="app-header-image" class="img-fluid" />
      </div>
      <div class="snap-point map-View">
        <%- include('../includes/searchBar') %>
        <%- include('../includes/imageKey') %>
        <div class="dashboard_mapContainer">
          <div id="ReviewsMap"></div>
        </div>
      </div>
    </div>
  </div>
  <%- include('../includes/scripts') %>
  <% var highlightedId = locals.highlightedId ? locals.highlightedId : '' %>
  <% var longitude = locals.lon ? locals.lon : '' %>
  <% var latitude = locals.lat ? locals.lat : '' %>
  <script type="text/javascript">
    var highlightedId = '<%- highlightedId %>';
    var longitude = '<%- longitude %>';
    var latitude = '<%- latitude %>';
  </script>
</body>

</html>