<!-- views/pages/search.ejs -->

<!DOCTYPE HTML>
<html lang="en">
<%- include('../includes/head') %>

<body>
  <%- include('../includes/nav') %>
  <div class="container">
    <h1>Search Results for "<%- searchTerm %>"</h1>
    <%- include('../includes/imageKey') %>
    <ul class="list-group">
      <% yelpResults.forEach(function(yelpResult){ %>
        <%- include('../includes/searchResult', {yelpResult: yelpResult, reviews: reviewResults, helpers: helpers}); %>
      <% }); %>
    </ul>
  </div>
  <%- include('../includes/scripts') %>
</body>

</html>